Body {
	margin:0;
	padding:0;	
}

#Holder {
	width:980px;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:21px; 
	margin-bottom:21px;
}

#Header {
	height:100px;
	background-image:url(../Assets/logo1.jpg);
	background-repeat:no-repeat;
	margin-bottom:11px;
}

#NavBar {
	height:60px;
	background-color:GREEN;
}

#Content {
	height: auto;
	clear:both;
	overflow:auto;
}

#PageHeading {
	height:auto;
	padding:11px;
	font-size: xx-large;
}

#ContentLeft {
	width:280px;
	float:left;
	font-size: 16px;
	color: #333;
	padding-left:11px;
	padding-top:11px;
	
}

#ContentRight {
	width:680px;
	float:right;
	text-align: left;
}

#Footer {
	height:100px;
}

h1 {
	margin:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
}

h2 {
	margin:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:lighter;
	color:#333;
}

h6 {
margin:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:lighter;
	color:#666;
	font-size:14px;
}
	
.StyleTxtField {
	border:1px solid #666;
	border-radius:6px;
	width:200px;
	height:35px;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-left:6px;
}
